html[data-theme="red"] {
  --text: #230901;
  --background: #fff3f0;
  --primary: #ff4f0f;
  --secondary: #e2fc4f;
  --accent: #eee458;
}
html[data-theme="red"][data-mode="dark"] {
  --text: #fee4dc;
  --background: #0f0300;
  --primary: #f04000;
  --secondary: #96b003;
  --accent: #a79d11;
}
