@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  --primary-default: #929596;
  --primary-100: #1d1e1e;
  --primary-200: #3a3c3c;
  --primary-300: #575a5b;
  --primary-400: #747879;
  --primary-500: #929596;
  --primary-600: #a8aaab;
  --primary-700: #bdbfc0;
  --primary-800: #d3d5d5;
  --primary-900: #e9eaea;

  --accent-default: #e1c10c;
  --accent-100: #2d2602;
  --accent-200: #594c05;
  --accent-300: #867307;
  --accent-400: #b29909;
  --accent-500: #e1c10c;
  --accent-600: #f4d62e;
  --accent-700: #f7e062;
  --accent-800: #f9eb96;
  --accent-900: #fcf5cb;

  --secondary-default: #e0e0e0;
  --secondary-100: #2d2d2d;
  --secondary-200: #5a5a5a;
  --secondary-300: #878787;
  --secondary-400: #b4b4b4;
  --secondary-500: #e0e0e0;
  --secondary-600: #e7e7e7;
  --secondary-700: #ededed;
  --secondary-800: #f2efe9;
  --secondary-900: #f9f9f9;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
